VITE_API_KEY = api_key=62d8c91bd6b9f6a19f55fb1e436d2e74

VITE_API_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MmQ4YzkxYmQ2YjlmNmExOWY1NWZiMWU0MzZkMmU3NCIsInN1YiI6IjY1ZGQ1NGJlYzQzM2VhMDE0OTNiY2VkYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9ZJO-qxlvbkRGsqTFQlple7WmmjdKYZmel5hjdz7rRc

VITE_API_URL = https://api.themoviedb.org/3/movie/

KENDO_UI_LICENSE = eyJhbGciOiJSUzI1NiIsInR5cCI6IkxJQyJ9.eyJwcm9kdWN0cyI6W3sidHJpYWwiOnRydWUsImNvZGUiOiJLRU5ET1VJUkVBQ1QiLCJsaWNlbnNlRXhwaXJhdGlvbkRhdGUiOjE3MTE2MTQzNDR9XSwiaW50ZWdyaXR5IjoiK1BIY0RQbnUxdUJXb3VcL2VFdTZuekR6WFwvNWM9IiwibGljZW5zZUhvbGRlciI6InJvZHJpZ290aXNzaWFuZWxAZ21haWwuY29tIiwiaWF0IjoxNzA5MDYyOTY4LCJhdWQiOiJyb2RyaWdvdGlzc2lhbmVsQGdtYWlsLmNvbSIsInVzZXJJZCI6ImRhNTNhZGIyLTdiYWQtNDliOC04YzY5LTY5MTdkNzFiZjIyZiJ9.Va--odp7Ayfjn2uK85KvkqdLf7diK4797UvKI1gGzNOk9D_hWs95XRR0jSRna5KOy_AQcxXCIEEsvbmZVrsZzG3t5MmMdsTDTHNyl6er0gZFZbvR4zGt6t5gsVQEhLlBbjSKhDaPjhIIOGl0RVsrquG2FzXKmWLslo-59g2X8I1xOapBM8dcaubnizpnllLACX23WX9HdmAeCFMB8Dkw4EzT-RNOid8025XdTIFJ8y2o68tL8ookBlr8_c9nC6L7epmml3mPmn_ACon6PxIDToO66ScZDYCOF7sQoecSOnCHUukmSVPJS6UfU-RrOT5rOmWjhEBrykdmYs0JvpnEZQ